@charset "utf-8";
/* CSS Document */
body{ background:#9c0708;}
.login_top{ background:url(../images/login_top.jpg) center top no-repeat;height:270px;}
.login_wrap{ background:url(../images/login_wrap.jpg) center top no-repeat; height:294px;}
.login_box{ width:594px; margin:0 auto; background:url(../images/login_box.jpg) no-repeat; height:294px;}
.login_table{ width:370px; margin:0 auto; padding-top:62px;}
.login_table table{}
.login_table table th{ width:60px; text-align:right; padding-right:10px; padding-top:8px; padding-bottom:8px; vertical-align:middle; color:#333; font-size:14px;}
.login_table table td{ padding-top:5px; padding-bottom:5px;}
.login_table table td img{ vertical-align:middle;}
.login_ipt{ background:#fff; height:24px; line-height:24px; border:1px solid #b4bcc2; vertical-align:middle;}
.loginbtn{ background:url(../images/loginbtn.jpg) no-repeat; width:116px; height:32px; display:inline-block; vertical-align:middle; text-indent:-999px; overflow:hidden;}
a.txt{ color:#356686; text-decoration:underline; margin-left:5px;}
.login_sel{ height:24px; line-height:24px; border:1px solid #c5bdbd; background:#fff; width:260px; position:relative; padding-left:5px;}
.login_sel .sel_arrow{ position:absolute; right:1px; top:1px; background:url(../images/sel_arrow.gif) center center no-repeat; width:24px; height:22px;}
.login_sel input{ background:none; border:none; height:22px; line-height:22px; width:100%;}
.login_sel select{ background:none; border:none; height:24px; line-height:24px; width:100%;}
